@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,700&display=swap");
/* login page style */
.login__section {
  display: grid;
  font-family: "DM Sans", sans-serif;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
  box-sizing: border-box;
}

.login__left {
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding: 2.5rem 1rem;
  overflow-y: scroll;
}

.form__top {
  padding: 0rem 0 0.8rem 0;
}

.form__top img {
  width: 10rem;
  padding-bottom: 0rem;
}

.greetings h3 {
  color: var(--color);
  font-size: 2rem;
}

.greetings p {
  color: var(--color);
  font-size: 1.2rem;
  padding-top: 0.1rem;
  line-height: 1.2;
}

.form__bottom {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: flex-start;
}

.input__group {
  display: flex;
  width: 100%;
  gap: 0.4rem;
  flex-direction: column;
}

.input__group label {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color);
}

.input__group input {
  padding: 0.6rem 0.9rem;
  font-size: 1.2rem;
  margin-top: 0;
  width: auto;
}

.action__btn {
  width: 100%;
  padding: 0.8rem 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  outline: none;
  cursor: pointer;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 98, 255);
  background: rgb(0, 132, 255);
  transition: all 0.2s ease-in;
}

.login__btn {
  margin-top: 0.5rem;
}

.other__login__method {
  width: 100%;
}

.other__login__method .or-text {
  color: var(--color);
  padding: 5px 9px;
}

.option__divider {
  margin: 0 auto;
  justify-content: center;
  justify-items: center;
}

.action__btn:hover {
  background-color: var(--page-over-color);
  border: 1px solid whitesmoke;
  color: whitesmoke;
}

#password-container {
  border: 1px solid rgba(104, 85, 224, 1);
  border-radius: 4px;
  align-items: center;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.show__hide--pass {
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  margin: auto;
}

.pass__input__container input {
  border: none;
  border-radius: 0;
  padding-right: 2rem;
  width: 75%;
}

.google__fb--login {
  padding-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 0.7rem;
}

.other__login {
  background-color: white;
  white-space: nowrap;
  border: none;
  cursor: pointer;
  color: #fff;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
  justify-content: center;
  padding: 0.4rem 0.7rem;
  font-size: 1.1rem;
  border-radius: 0.5rem;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  width: 100%;
}

.other__login img {
  width: 1.5rem;
}

.google__fb--login .google {
  background-color: #db4437;
  border: 1px solid #db4437;
}

.google__fb--login .facebook {
  background-color: #3b5998;
  border: 1px solid #3b5998;
}

.google__fb--login .google:hover {
  background-color: whitesmoke;
  color: #db4437;
}

.google__fb--login .facebook:hover {
  background-color: whitesmoke;
  color: #3b5998;
}

.no__acct {
  width: 100%;
  text-align: center;
  color: black;
  font-size: 1.1rem;
}

.no__acct span {
  color: #6855e0;
  cursor: pointer;
}

.forgot__new {
  text-align: center;
  width: 100%;
}
.login__right img {
  width: 100%;
  height: 100%;
}

.login__right {
  background-image: url("../../assets/login-right.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}
.signup__right {
  background-image: none;
}

/* forgot password */
.forgot-pasword {
  width: 100%;
  text-align: center;
  color: var(--color);
  font-size: 14px;
  margin: 0;
  padding: 0.3rem 0;
}

.forgot-pasword span {
  color: rgb(104, 85, 224);
  cursor: pointer;
  font-weight: bold;
  transform: 0.7s ease-in;
}

.forgot-pasword span:hover {
  color: var(--btn-color-hover);
}
.have-account {
  text-align: center;
}
.img-outer {
  margin: 0 auto;
}
#file {
  width: 10rem;
}
/* media query for 840px */
@media (max-width: 840px) {
  .login__section {
    grid-template-columns: 1fr;
    padding: 1.5rem;
  }
  .login__left {
    padding: 0;
  }
  .form__top {
    padding: 0.1rem 0 1rem 0;
  }
  .greetings h3 {
    font-size: 1.7rem;
  }
  .greetings p {
    font-size: 1.1rem;
  }
  .input__group {
    gap: 0.5rem;
  }
  .input__group label {
    font-size: 1.1rem;
  }
  .input__group input {
    padding: 0.6rem 0.9rem;
    font-size: 1.1rem;
  }
  .action__btn {
    padding: 0.7rem 0.9rem;
    font-size: 1.1rem;
  }
  .login__btn {
    margin-top: 0.7rem;
  }
  .other__login {
    padding: 0.7rem 1rem;
    font-size: 1rem;
  }
  .no__acct {
    font-size: 1.1rem;
  }
  .login__right {
    display: none;
  }
}

/* media query for 768px */
@media (max-width: 768px) {
  .or {
    width: 100%;
  }
  .login__section {
    padding: 10px 7px;
  }
  .form__top {
    padding: 0.1rem 0 1rem 0;
  }
  .greetings h3 {
    font-size: 1.6rem;
  }
  .greetings p {
    font-size: 1rem;
  }
  .input__group {
    gap: 0.7rem;
  }
  .input__group label {
    font-size: 1rem;
  }
  .input__group input {
    padding: 0.6rem 0.9rem;
    font-size: 1rem;
  }
  .action__btn {
    font-size: 1rem;
  }
  .other__login {
    padding: 0.8rem 0.5rem;
    font-size: 1rem;
  }
  .no__acct {
    font-size: 1rem;
  }
  .login__right {
    display: none;
  }
}

/* media query for 400px */
@media (max-width: 400px) {
  .login__left {
    justify-content: flex-start;
  }
  .login__section form {
    width: 95%;
  }
  .form__bottom {
    width: 20em;
  }
}

/* media query for 360px */
@media (max-width: 360px) {
  .login__left {
    justify-content: flex-start;
  }
  .login__section form {
    width: 95%;
  }
  .form__bottom {
    width: 18em;
  }
}
