@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,700&display=swap');
/* login page style */
.password-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 1px solid rgba(104, 85, 224, 1);
  margin-top: 10px;
  background-color: white;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
  border-radius: 4px;
}
.password-input {
  width: 100%;
  border: none;
  margin: 0;
  box-shadow: none;
}

.show-password {
  height: 100%;
  width: 50px;
  margin: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.login__section{
  display: grid;
  font-family: 'DM Sans', sans-serif;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
  box-sizing: border-box;
}
.login__left{
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding: 2.5rem 1rem;
}
.form__top{
  padding: 0rem 0  .8rem 0;
}

.form__top img{
  width: 10rem;
  padding-bottom: 0rem;
}
.greetings h3{
  font-size: 2rem;
}
.greetings p{
  font-size: 1.2rem;
  padding-top: .1rem ;
}
.form__bottom{
  display: flex;
  flex-direction: column;
  gap: .8rem;
  align-items: flex-start;
}
.input__group{
  display: flex;
  width: 100%;
  gap: .4rem;
  flex-direction: column;
}
.input__group label{
  font-size: 1.2rem;
  font-weight: 600;
}
.input__group input{
  padding: .6rem .9rem ;
  font-size: 1.2rem;
  margin-top: 0;
  width: auto;
}
.action__btn{
  width: 100%;
  padding: .8rem 1rem ;
  font-size: 1.2rem;
  border-radius: .5rem;
  outline: none;
  cursor: pointer;
  color: white;
  border: 1px solid  white;
  background: linear-gradient(#fb5d8ca9,#ad3066ba);
  transition: all .3s ease-in;

}
.login__btn{
  margin-top: .5rem;
}
.other__login__method{
  width: 100%;
}
.option__divider{
  margin: 0 auto;
  justify-content: center;
  justify-items: center;

}
.action__btn:hover{
  background: white;
  border: 1px solid  rgba(104, 85, 224, 1);;
  color:  rgba(104, 85, 224, 1);


}
#password-container{
  margin: 0px;
}
.password-container input{
  border: none;
  background: none;
  border-radius: 0;
}
.google__fb--login{
  padding-top: .5rem;
  display: flex;
  flex-direction: column;
  gap: .7rem;
}
.other__login{
  background-color: white;
  border: 1px solid  rgba(104, 85, 224, 1);;
  color: black;
  padding: .6rem 1rem;
  font-size: 1.1rem;
  border-radius: .5rem;
  letter-spacing: 1px;
}
.other__login:hover{
  background-color:  rgba(104, 85, 224, 1);
  border: 1px solid white;
  color: white;

}
.no__acct{
  width: 100%;
  text-align: center;
  color: black;
  font-size: 1.1rem;
}
.no__acct span{
  color: #6855e0 ;
  cursor: pointer;
}
.forgot__new{
  text-align: center;
  width: 100%;
}
.login__right img{
  width: 100%;
  height: 100%;

}
/* forgot password */

.forgot-pasword {
  width: 100%;
  text-align: center;
  color: var(--color);
  font-size: 13px;
  margin: 0;
  padding:  .3rem 0;
}

.forgot-pasword span {
  border-bottom: 2px solid rgb(104, 85, 224);
  color: rgb(104, 85, 224);
  cursor: pointer;
}


/* media query for 840px */
@media (max-width : 840px) {  
  .login__section{
    grid-template-columns: 1fr ;
    padding: 1.5rem;
  }
  .login__left{
    padding: 0;
  }
  .form__top{
    padding: .1rem 0  1rem 0;
  }
  .greetings h3{
    font-size: 1.7rem;
  }
  .greetings p{
    font-size: 1.1rem;
  }
  .input__group{
    gap: .5rem;
  }
  .input__group label{
    font-size: 1.1rem;
  }
  .input__group input{
    padding: .6rem .9rem ;
    font-size: 1.1rem;
  }
  .action__btn{
    padding: .7rem .9rem ;
    font-size: 1.1rem;  
  }
  .login__btn{
    margin-top: .7rem;
  }
  .other__login{
    padding: .7rem 1rem;
    font-size: 1rem;
  }
  .no__acct{
    font-size: 1.1rem;
  }
  .login__right {  
    display: none;
  }  
}



/* media query for 370px */
@media (max-width : 350px) {  
  .login__section form{
    width: 95%;
  }
  .login__section{
    padding: 10px;
  }
  .form__top{
    padding: .1rem 0  1rem 0;
  }
  .greetings h3{
    font-size: 1.6rem;
  }
  .greetings p{
    font-size: 1rem;
  }
  .input__group{
    gap: .7rem;
  }
  .input__group label{
    font-size: 1rem;
  }
  .input__group input{
    padding: .6rem .9rem ;
    font-size: 1rem;
  }
  .action__btn{
    font-size: 1rem;  
  }
  .other__login{
    padding: .7rem 1rem;
    font-size: 1rem;
  }
  .no__acct{
    font-size: 1rem;
  }
  .login__right {  
    display: none;
  }  
}