.slider {
	align-items: center;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	min-height: 240px;
	position: relative;
	width: 100%;
}

.slide {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	margin-top: 50%;
	position: relative;
	width: 100%;
}

.slider__actions {
	width: 100%;

}

.slide.active {
	opacity: 1;
}

.image {
	height: 100%;
	object-fit: cover;
	width: 100%;
	z-index: -1;
}

.slider-action {
	display: flex;
	height: 100%;
	justify-content: space-between;
	position: absolute;
	width: 100%;
}

.circle {
	color: transparent;
	cursor: pointer;
	font-size: 24px;
	height: 100%;
	width: 30%;
}

.chevron {
	color: transparent;
	cursor: pointer;
	font-size: 24px;
	height: 100%;
	width: 30%;
}