.slider {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  height: 350px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.post__image {
  width: 100% !important;
  height: 100%;
  object-fit: cover;
}

.slide {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  margin-top: 50%;
  position: relative;
  width: 100%;
}

.slide > span {
  width: 100%;
  height: 100%;
}

.slider__actions {
  width: 90%;
}

.slide.active {
  opacity: 1;
}

.image {
  object-fit: scale-down;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.slider-action {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 90%;
}

.circle,
.chevron {
  color: grey;
  cursor: pointer;
  font-size: 24px;
  height: 100%;
  transform: scale(1.5);
  transition: ease-in 3ms;
  width: 5%;
}

.chevron:active,
.circle:active {
  transform: scale(1);
  z-index: 9;
}
