.post-header {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 10px;
  align-items: center;
}

.caption-container {
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.share__button {
  background: var(--btn-color);
  width: 100%;
  color: white;
  padding: 6px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 25px;
  border: none;
  margin: 5px;
}

.share__button:hover {
  background: var(--btn-color-hover);
}

.back_button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  font-size: 1rem;
  background: var(--btn-color);
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}

.back_button:hover {
  background: var(--btn-color-hover);
}

.post__username {
  font-size: 14px;
  font-weight: 600;
}

.post__header {
  display: flex;
  align-items: center;
  padding-inline: 8px;
  flex-wrap: wrap;
}

.post__upload__avatar {
  margin-right: 10px;
  border-radius: 50%;
  width: 30px !important;
  height: 30px !important;
  object-fit: contain;
}

.upload-picture:hover {
  opacity: 0.8;
}

.openpopup:hover {
  opacity: 0.8;
}

.file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

.file-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 1rem;
  width: 90%;
  margin: auto;
  min-height: 60px;
  padding-bottom: 15px;
  gap: 2rem;
}

.file-input label {
  position: relative;
  border-radius: 20px;
  background: linear-gradient(40deg, #5f85db, #daf1f7);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
  transition: transform 0.2s ease-out;
}

.slider__View {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.sliders_button {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 98%;
}

.slider_circle {
  color: var(--btn-hover);
  font-size: 1.2rem;
}

.slider_chevron {
  color: var(--btn-hover);
  font-size: 1.2rem;
}

.button {
  cursor: pointer;
  border-radius: 4px;
  font-weight: 600;
  width: 100%;
  padding: 10px 0;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
  transition: 0.4s;
}

.button:hover {
  color: white;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
  background-color: rgba(104, 85, 224, 1);
}

input {
  width: 230px;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  padding: 10px;
  margin-top: 10px;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
  border: 1px solid rgba(104, 85, 224, 1);
  transition: 0.4s;
}

.popupMain {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  /* min-height: 20vh; */
  box-sizing: border-box;
}

.openpopup {
  top: 46%;
  left: 41.5%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent black overlay */
  z-index: 999;
}

.popupMain button {
  border-radius: 20px;
  background: var(--btn-color);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
  transition: transform 0.2s ease-out;
  border: none;
}

.close-btn {
  margin: 6px;
  padding: 10px;
  background: #5f85db;
  background: var(--btn-color);
  border: none;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  cursor: pointer;
  font-size: large;
}

.shareBtnContainer {
  width: 100%;
  display: flex;
  gap: 6rem;
  padding: 6px 0;
}

.disable_post_btn {
  background: grey;
  cursor: not-allowed;
}

.disable_post_btn:hover {
  background: grey;
  cursor: not-allowed;
}

@media only screen and (min-width: 800px) {
  .dialogStyle {
    width: 60vw;
    margin: auto;
  }

  .app__posts {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }

  .file-input {
    gap: 5rem;
  }

  .slider__View {
    width: 45%;
  }

  .small_post_view {
    display: none;
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .dialogStyle {
    width: 60vw !important;
  }

  .file-input {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column !important;
    gap: 1.2rem;
  }

  .next_button {
    display: block;
    background: linear-gradient(40deg, #5f85db, #daf1f7);
    width: 100%;
    color: white;
    padding: 0.6rem;
    font-size: 0.8rem;
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin-bottom: -20px;
    cursor: pointer;
  }

  .slider__View {
    margin: auto;
    margin-bottom: 20px;
  }

  .shareBtnContainer {
    gap: 2rem;
  }
  .popupMain button,
  .file-input label,
  .share__button {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 500px) {
  .dialogStyle {
    width: 70vw !important;
  }

  .createNewPost {
    font-size: 1rem;
    font-weight: 500;
    color: var(--color);
    margin-top: 10px;
    margin-bottom: 8px;
  }

  .popupMain button {
    font-size: 0.8rem;
    padding: 0.4rem 1rem;
  }

  .file-input label {
    font-size: 0.8rem;
    padding: 0.4rem 0.6rem;
  }
  .file-input,
  .shareBtnContainer {
    gap: 0.8rem;
  }
}

@media only screen and (min-width: 500px) {
  .createNewPost {
    font-size: 1rem;
    font-weight: 500;
    color: var(--color);
    margin-top: 10px;
    margin-bottom: 8px;
  }

  .crossIcon {
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
  }

  .popupMain button {
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
  }

  .file-input label {
    font-size: 1.1rem;
    padding: 0.5rem 0.9rem;
  }
}

@media only screen and (max-width: 500px) {
  .crossIcon {
    position: absolute;
    right: 0.6rem;
    top: 0.7rem;
    cursor: pointer;
  }
}

@media screen and (max-width: 500px) {
  .close-btn {
    margin-right: 50px;
    font-size: 1.2em !important;
  }
}
