.file-input {
  width: 55%;
}

.file-input label {
  display: block;
  position: relative;
  margin-top: 15px;
  width: 200px;
  margin: auto;
  height: 40px;
  border-radius: 20px;
  background: linear-gradient(40deg, #e107c1, #59afc7);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease-out;
}

.popupMain {
  padding: 32px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  min-height: 20vh;
  box-sizing: border-box;
}

.popupMain button {
  width: 200px;
  height: 40px;
  border-radius: 20px;
  background: linear-gradient(40deg, #e107c1, #59afc7);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease-out;
  border: none;
}

.openpopup {
  top: 46%;
  left: 41.5%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent black overlay */
  z-index: 999;
}

.slider__View {
  width: 55%;
  height: 66%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.slider_circle {
  position: absolute;
  margin: auto;
  color: grey;
  font-size: 18px;
}

.slider_chevron {
  position: absolute;
  color: grey;
  margin: auto;
  font-size: 18px;
  right: 50%;
}

.post__caption_section {
  width: 48%;
  border-left: 2px solid rgb(192, 191, 191);
}

.imageUpload {
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.preview {
  width: 150px;
  height: auto;
  padding: 50px;
}
