.username-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    border: 1px solid red;
}

.username-sub-container{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.username-heading{
    font-size: 35px;
    text-shadow: 1px 1px 2px rgb(113, 113, 243), 
                 1px 1px 2px rgb(108, 108, 108);
    font-family: cursive;
}

#get-username-input{
    width: 100%;
}

.get-username-btn{
    width: 104%;
    padding-block: 10px;
    margin-left: -3px;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
}