.img-edit {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  color: blue;
  border: 2px solid blue;
  filter: invert(0%) !important;
  transition: color 0.4s;
  padding: 0 15px;
  margin-bottom: 0;
}

.img-edit:hover {
  opacity: 1;
  background: linear-gradient(40deg, #e107c1, #59afc7);
  filter: invert(0%) !important;
  color: white !important;
}

.feed-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 0;
}

.profile-right p {
  font-size: 1rem;
}

/* media query */

@media screen and (max-width: 600px) {
  .outer-profile-box {
    width: 95%;
    padding: 30px 0;
  }
  .feed-main-container {
    margin-top: 0;
  }
  .feed-main-container .app__posts {
    padding: 10px;
    margin: 10% auto;
  }
  .feed-main-container .app__posts .post {
    margin: auto;
    margin-bottom: 20px;
  }
  .img-edit {
    padding: 10px 15px !important;
    line-height: 1.1;
  }
  .profile-pic-container {
    width: 110px;
    height: 110px;
  }
  .inner-profile {
    width: 100%;
  }
  .profile-left {
    width: 40%;
    align-items: center;
  }
}
@media screen and (min-width: 600px) {
  .profile-pic-container {
    width: 140px;
    height: 140px;
  }
  .app__posts {
    padding-top: 0;
  }
  .setting-logout {
    flex-direction: row;
  }
}
@media screen and (min-width: 768px) {
  .outer-profile-box,
  .feed-main-container {
    width: calc(100% - 16vw);
  }
  .feed-main-container {
    margin: 30px auto;
  }
  .feed-main-container .app__posts {
    padding: 10px 10px 10px 8vw;
  }
}
@media screen and (min-width: 1200px) {
  .outer-profile-box,
  .feed-main-container {
    width: calc(100% - 34vw);
  }
  .feed-main-container {
    margin: 50px auto;
  }
  .profile-pic-container {
    width: 180px;
    height: 180px;
  }
  .img-edit,
  .img-save {
    font-size: 1rem;
    padding: 5px 15px !important;
  }
  .profile-right {
    margin-top: 22px;
  }
  .inner-profile {
    margin-left: 2rem;
  }
}
