.img-edit {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  color: blue;
  border: 2px solid blue;
  filter: invert(0%) !important;
  transition: color 0.4s;
  padding: 0 15px;
  margin-bottom: 0;
}

.img-edit:hover {
  opacity: 1;
  background: linear-gradient(40deg, #e107c1, #59afc7);
  filter: invert(0%) !important;
  color: white !important;
}

.feed-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 0;
}

.profile-right p {
  font-size: 1rem;
}

.img-save:hover {
  color: var(--btn-color);
}

.modal__signup__img {
  width: 80%;
  border-radius: 0.3rem;
  margin-bottom: 10px;
}

.modal__signup {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.modal__signup button {
  margin-top: 10px;
}

.button-style {
  background: var(--btn-color);
  border-radius: 20px;
  margin: 10px;
}

.button-style:hover {
  background: var(--btn-color-hover);
}

/* media query */

@media screen and (max-width: 600px) {
  .outer-profile-box {
    width: 95%;
    padding: 30px 0;
  }
  .feed-main-container .app__posts .post {
    margin: auto;
    margin-bottom: 20px;
  }
  .img-edit {
    padding: 10px 15px !important;
    line-height: 1.1;
  }
  .profile-pic-container {
    width: 110px;
    height: 110px;
  }
  .inner-profile {
    width: 100%;
  }
  .profile-left {
    width: 40%;
    align-items: center;
  }
}
@media screen and (min-width: 600px) {
  .profile-pic-container {
    width: 140px;
    height: 140px;
  }
  .app__posts {
    padding-top: 0;
  }
  .setting-logout {
    flex-direction: row;
  }
}

@media screen and (max-width: 800px) {
  .outer-profile-box {
    width: calc(100% - 16vw);
  }
  .feed-main-container .app__posts {
    padding: 2em 10px 5.5em 10px;
  }
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
  .feed-main-container .app__posts {
    padding-left: 9vw;
  }
}

@media screen and (min-width: 1200px) {
  .feed-main-container .app__posts {
    padding-left: 17vw;
  }
  .outer-profile-box {
    width: calc(100% - 34vw);
  }
  .profile-pic-container {
    width: 180px;
    height: 180px;
  }
  .img-edit,
  .img-save {
    font-size: 1rem;
    padding: 15px !important;
  }
  .profile-right {
    margin-top: 22px;
  }
  .inner-profile {
    margin-left: 2rem;
  }
}
