.img-edit {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 1.303rem;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  color: blue;
  border: 2px solid blue;
  filter: invert(0%) !important;
  transition: color 0.4s;
}

.img-edit:hover {
  opacity: 1;
  background: linear-gradient(40deg, #e107c1, #59afc7);
  filter: invert(0%) !important;
  color: white !important;
}

.feed-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 0;
}

@media screen and (max-width: 600px) {
  .right-profile-section {
    padding-top: 0 !important;
  }
}

@media screen and (max-width: 768px) {
  .inner-profile-section {
    width: 100%;
  }
  .profile-section {
    align-items: flex-start !important;
  }
  .back-btn-box {
    width: 25% !important;
    justify-content: flex-end !important;
  }
}
@media screen and (min-width: 768px) {
  .inner-profile-section {
    width: 80%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .back-btn-box {
    width: 55% !important;
    justify-content: flex-start !important;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .back-btn-box {
    width: 45% !important;
    justify-content: flex-start !important;
  }
}
@media screen and (min-width: 1201px) {
  .profile-section {
    width: calc(100% - 22vw) !important;
  }
  .back-btn {
    margin-left: 5rem !important;
  }
}

@media screen and (min-width: 1440px) {
  .back-btn-box {
    width: 28% !important;
    justify-content: flex-start !important;
  }
}

@media screen and (max-width: 1200px) {
  .profile-section {
    width: calc(100% - 15vw) !important;
  }
  .back-btn {
    margin-left: 5rem !important;
  }
}

@media screen and (max-width: 800px) {
  .profile-section {
    width: 100%;
  }
  .profile-pic {
    width: 15vh !important;
    height: 15vh !important;
  }
}
