.background-image {
  width: 100%;
  height: 400px;
  border: 1px solid pink;
  object-fit: cover;
}

.outer-profile-box {
  position: relative;
  margin-top: 0;
  width: 90%;
  padding-block: 5px;
  padding-inline: 6px;
  border: none;
  margin: 0rem auto 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--color);
}

.profile-pic-container {
  margin-top: -100px;
  background-color: black;
  border: none;
  box-shadow: 0 0 4px black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 1.2rem;
}

.edit-image-icon {
  cursor: pointer;
  border-radius: 50%;
  padding: 10px;
  background: var(--sidebar-link-hover);
}

.edit-btn {
  display: inline-block;
  position: absolute;
  right: 0;
  margin-top: 10px;
}

.img-edit {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  color: blue;
  border: 2px solid #0cc;
  filter: invert(0%) !important;
  transition: color 0.4s;
  padding: 0 15px;
  margin-bottom: 0;
}

.img-edit:hover {
  opacity: 1;
  background: linear-gradient(40deg, #0cc, #fff);
  filter: invert(0%) !important;
  color: white !important;
}

.feed-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 0;
}

.img-save:hover {
  color: var(--btn-color);
}

.img-save {
  width: 100%;
}

.profile-right {
  margin-top: 0;
}

.profile-user-display-name {
  font-size: 26px;
  margin-top: -20px;
  font-weight: bold;
}

.profile-bio {
  color: var(--profile-color);
  text-align: left;
  margin-bottom: 15px;
  max-width: 600px;
  font-weight: 600;
}

.profile-user-username {
  color: var(--profile-color);
}

.username-and-location-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dot-seperator {
  width: 5px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--profile-color);
}

.location-icon {
  font-size: 18px;
  margin-bottom: -2px;
}

.posts-views {
  color: var(--profile-color);
  font-weight: 500;
}

.posts-views span {
  font-weight: 600;
}

.setting-logout {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-block: 20px;
}

.modal__signup__img {
  width: 80%;
  border-radius: 0.3rem;
  margin-bottom: 10px;
}

.modal__signup {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.modal__signup button {
  margin-top: 10px;
}

.button-style {
  background: var(--btn-color);
  border-radius: 20px;
  margin: 10px;
}

.button-style:hover {
  background: var(--btn-color-hover);
}

/* media query */

@media screen and (max-width: 600px) {
  .outer-profile-box {
    width: 95%;
    padding: 30px 0;
  }

  .feed-main-container .app__posts .post {
    margin: auto;
    margin-bottom: 20px;
  }

  .img-edit {
    padding: 10px 15px !important;
    line-height: 1.1;
  }

  .profile-pic-container {
    width: 110px;
    height: 110px;
  }

  .inner-profile {
    width: 100%;
  }

  .profile-left {
    width: 40%;
    align-items: center;
  }

  .background-image {
    height: 250px;
  }

  .profile-bio {
    font-size: 13px;
  }
}

@media screen and (min-width: 600px) {
  .profile-pic-container {
    width: 140px;
    height: 140px;
  }

  .feed-main-container .app__posts {
    padding-top: 0;
  }

  .setting-logout {
    flex-direction: row;
  }
}

@media screen and (max-width: 800px) {
  .outer-profile-box {
    width: calc(100% - 16vw);
  }

  .feed-main-container .app__posts {
    padding: 2em 10px 5.5em 10px;
  }
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
  .feed-main-container .app__posts {
    padding-left: 9vw;
  }
}

@media screen and (min-width: 1200px) {
  .feed-main-container .app__posts {
    padding-left: 17vw;
  }

  .outer-profile-box {
    width: calc(100% - 34vw);
  }

  .profile-pic-container {
    width: 180px;
    height: 180px;
  }

  .img-edit,
  .img-save {
    font-size: 1rem;
    padding: 15px !important;
  }

  .profile-right {
    margin-top: 22px;
  }

  .inner-profile {
    margin-left: 2rem;
  }
}
