/* common classes */
.text-dim {
  color: var(--text-dim);
}
.padding-bottom {
  padding-bottom: 10px;
}
.flexx {
  display: flex;
  align-items: center;
}

.background-image-sub-container {
  width: 100%;
  height: 500px;
  overflow: hidden;
}
.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: auto;
}

.outer-profile-box {
  position: relative;
  margin-top: 0;
  width: 85%;
  padding-block: 5px;
  padding-inline: 6px;
  border: none;
  margin: 0rem auto 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--color);
}

.profile-pic-container {
  margin-top: -100px;
  background-color: #fff;
  border: none;
  border-radius: 100%;
  box-shadow: 0 0 4px black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 1.2rem;
}

.edit-image-icon {
  cursor: pointer;
  border-radius: 50%;
  padding: 10px;
  background: var(--sidebar-link-hover);
}

.edit-btn {
  display: inline-block;
  position: absolute;
  right: 0;
  margin-top: 10px;
}

.img-edit {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  color: blue;
  border: 2px solid #0cc;
  filter: invert(0%) !important;
  transition: color 0.4s;
  padding: 0 15px;
  margin-bottom: 0;
}

.img-edit:hover {
  opacity: 1;
  background: linear-gradient(40deg, #0cc, #fff);
  filter: invert(0%) !important;
  color: white !important;
}

.img-save:hover {
  color: var(--btn-color);
}

.img-save {
  width: 100%;
}

.profile-right {
  margin-top: 0;
}

.profile-user-display-name {
  font-size: 1.5rem !important;
  margin-top: -20px;
  font-weight: 700 !important;
  color: var(--text-dim);
}

.profile-bio {
  text-align: left;
  max-width: 600px;
  font-size: 1.1rem;
}

.profile_feed_divider {
  background: rgb(225, 224, 224);
  border: 8px solid;
}

.username-and-location-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dot-seperator {
  width: 5px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--profile-color);
}

.location-icon {
  font-size: 18px;
  color: var(--profile-color);
  margin-right: 5px;
}

.posts-views {
  font-weight: 500;
  font-size: 1rem;
}

.posts-views span {
  font-weight: 500;
  font-size: 1rem;
}

.story_available_border {
  border: 6px solid rgba(2, 106, 242, 0.6);
}

.setting-logout {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-block: 20px;
}

.modal__signup__img {
  width: 80%;
  border-radius: 0.3rem;
  margin-bottom: 10px;
}

.modal__signup {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.modal__signup button {
  margin-top: 10px;
}

.button-style {
  background: var(--btn-color);
  border-radius: 20px;
  margin: 10px;
}

.button-style:hover {
  background: var(--btn-color-hover);
}

.bg-img-save {
  height: 130px;
  width: 140px;
  display: flex;
  justify-content: center;
  top: 120px;
  right: 20px;
}

.bg-save-btn {
  top: 60px;
  margin-top: 10px;
}
.bg-save-btn button {
  border: 3px solid #244a9f;
  background-color: var(--btn-hover);
  padding: 8px 25px;
  border-radius: 25px;
  color: var(--bg-color);
}
.bg-save-btn button:hover {
  border: 3px solid var(--btn-hover);
  background-color: #244a9f;
}

.bg-icon {
  background-color: var(--bg-color);
  border-radius: 50%;
  height: 48px;
  width: 48px;
  cursor: pointer;
  position: absolute;
}

.bg-icon svg {
  color: var(--color);
}

.bg-icon label {
  height: 90%;
  width: 90%;
  display: flex;
  position: absolute;
  top: 8px;
  left: 7px;
  cursor: pointer;
}
.bg-icon svg:hover {
  color: var(--btn-hover);
  transition: all 0.3s ease;
}

/* media query */

@media screen and (max-width: 600px) {
  .outer-profile-box {
    width: 95%;
    padding: 30px 0;
  }

  .img-edit {
    padding: 10px 15px !important;
    line-height: 1.1;
  }

  .profile-pic-container {
    width: 110px !important;
    height: 110px !important;
  }

  .inner-profile {
    width: 100%;
  }

  .profile-left {
    width: 40%;
    align-items: center;
  }

  .background-image-sub-container {
    height: 250px;
  }

  .profile-bio {
    /* font-size: 13px; */
    font-size: 1rem !important;
  }
}

@media screen and (min-width: 600px) {
  .profile-pic-container {
    width: 140px !important;
    height: 140px !important;
  }

  .setting-logout {
    flex-direction: row;
  }
}

@media screen and (max-width: 800px) {
  .outer-profile-box {
    width: calc(100% - 10vw);
  }
  .background-image-container {
    padding: 0 !important;
    padding-top: 4em !important;
  }
  .bg-img-save {
    right: -10px;
    top: 100px;
  }
  .bg-icon {
    height: 40px;
    width: 40px;
  }
  .bg-icon svg {
    font-size: 25px;
  }
  .bg-save-btn button {
    padding: 6px 15px;
    font-size: 13px;
  }
  .bg-save-btn {
    top: 60px;
    margin-top: 0;
  }
}

@media screen and (max-width: 1200px) {
  .background-image-container {
    padding: 4em 0 0 8vw;
  }
}

@media screen and (min-width: 1200px) {
  .outer-profile-box {
    width: calc(100% - 34vw);
  }

  .profile-pic-container {
    width: 160px !important;
    height: 160px !important;
  }

  .img-edit,
  .img-save {
    font-size: 1rem;
    padding: 15px !important;
  }

  .profile-right {
    margin-top: 22px;
  }

  .inner-profile {
    margin-left: 2rem;
  }

  .background-image-container {
    padding: 4em 0 0 17vw;
  }

  .bg-img-save {
    top: 100px;
  }
}
