.space-btw {
  padding-bottom: 10px;
}
.text-dim {
  color: var(--text-dim);
}
.flexx {
  display: flex;
  align-items: center;
}

.background-image-sub-container {
  width: 100%;
  height: 500px;
  overflow: hidden;
}
.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: auto;
}

.feed_btn_container {
  margin-left: 17vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 10px;
}

.feed_change_btn {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-inline: 20px;
  cursor: pointer;
  background: var(--bg-color);
  border: none;
  color: var(--text-secondary);
}

.feed_btn_deactivated {
  opacity: 0.7;
  color: var(--profile-color);
}

.feed_btn_deactivated:hover {
  opacity: 1;
}

.feed_btn_activated {
  border-top: 4px solid;
}

.feed_btn_text {
  margin-left: 8px;
}

.outer-profile-box {
  position: relative;
  margin-top: 0;
  width: 85%;
  padding-block: 5px;
  padding-inline: 6px;
  border: none;
  margin: 0rem auto 2rem;
}
.user-details-section {
  display: flex;
  z-index: 99;
  padding-bottom: 2rem !important;
  margin: auto;
  height: auto;
  position: relative;
  flex-direction: column;
}
.image-edit-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-image-container {
  position: absolute;
  transform: translateY(-50%);
  display: flex;
  height: 200px;
  width: 200px;
}
.edit-details {
  position: absolute;
  left: 80%;
  padding-top: 10px;
}

.user-image-container .user-image {
  height: 100%;
  width: 100%;
}
.user-details {
  display: flex;
  flex-direction: column;
  margin-top: 110px;
}
.user-details .user-name {
  font-size: 1.5rem;
  font-weight: 560;
  color: var(--text-dim);
}
.user-details .bio {
  font-size: 1.1rem;
}
.user-details .username {
  font-size: 1rem;
  letter-spacing: 1px;
}

.profile-pic-container {
  background-color: #fff;
  border: none;
  border-radius: 100%;
  box-shadow: 0 0 4px black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.edit-image-icon {
  cursor: pointer;
  border-radius: 50%;
  padding: 10px;
  background: var(--sidebar-link-hover);
  font-size: 32px !important;
  color: var(--btn-hover);
}

.edit-image-icon:hover {
  background-color: var(--btn-hover);
  transition: all 0.3s ease-in;
  color: var(--text-secondary);
}

.edit-btn {
  display: inline-block;
  position: absolute;
  right: 0;
  margin-top: 10px;
}

.img-save:hover {
  color: var(--btn-color);
}

.img-save {
  width: 100%;
}

.profile-right {
  margin-top: 0;
}

.profile_feed_divider {
  background: rgb(225, 224, 224);
  border: 8px solid;
}

.username-and-location-container {
  display: flex;
  align-items: center;
  gap: 10px;
  align-items: center;
}

.location-icon {
  font-size: 18px;
  display: flex;
  align-items: center;
  color: var(--profile-color);
}

.posts-views {
  font-weight: 500;
  font-size: 1.1rem;
}

.posts-views span {
  font-weight: 500;
  font-size: 1.1rem;
}

.story_available_border {
  border: 6px solid rgba(2, 106, 242, 0.6);
}

.setting-logout {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-block: 20px;
}

.modal__signup__img {
  width: 80%;
  border-radius: 0.3rem;
  margin-bottom: 10px;
}

.modal__signup {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.modal__signup button {
  margin-top: 10px;
}

.button-style {
  background: var(--btn-color);
  border-radius: 20px;
  margin: 10px;
}

.button-style:hover {
  background: var(--btn-color-hover);
}

.bg-img-save {
  height: 130px;
  width: 140px;
  display: flex;
  justify-content: center;
  top: 120px;
  right: 60px;
}

.bg-save-btn {
  top: 60px;
  margin-top: 10px;
  display: flex;
  gap: 0.7rem;
}
.bg-save-btn button {
  border: 3px solid #244a9f;
  background-color: var(--btn-hover);
  padding: 8px 25px;
  border-radius: 25px;
  color: var(--bg-color);
  font-weight: 600;
}
.cancel-btn {
  background-color: rgb(255, 255, 255, 0.4) !important;
  color: black !important;
  padding: 2px 12px !important;
}

.bg-save-btn button:hover {
  border: 3px solid var(--btn-hover);
  background-color: #244a9f;
}

.bg-icon {
  background-color: var(--bg-color);
  border-radius: 50%;
  height: 48px;
  width: 48px;
  cursor: pointer;
  position: absolute;
}

.bg-icon svg {
  color: var(--color);
}

.bg-icon label {
  height: 90%;
  width: 90%;
  display: flex;
  position: absolute;
  top: 8px;
  left: 7px;
  cursor: pointer;
}
.bg-icon svg:hover {
  color: var(--btn-hover);
  transition: all 0.3s ease;
}

.no_posts_msg {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

/* media query */

@media screen and (max-width: 600px) {
  .outer-profile-box {
    width: 95%;
    padding: 30px 0;
  }

  .user-image-container {
    width: 120px;
    height: 120px;
  }
  .user-details {
    margin-top: 80px;
  }

  .background-image-sub-container {
    height: 250px;
  }
}

@media screen and (min-width: 600px) {
  .user-image-container {
    width: 140px;
    height: 140px;
  }
  .user-details {
    margin-top: 100px;
  }
  .setting-logout {
    flex-direction: row;
  }
}

@media screen and (max-width: 1200px) {
  .background-image-container {
    padding: 4em 0 0 8vw;
  }

  .feed_btn_container {
    margin-left: 8vw;
  }
}

@media screen and (max-width: 800px) {
  .outer-profile-box {
    width: calc(100% - 10vw);
  }

  .feed_btn_container {
    margin-left: 0;
  }

  .background-image-container {
    padding: 0 !important;
    padding-top: 4em !important;
  }
  .bg-img-save {
    right: 25px;
    top: 100px;
  }
  .bg-icon {
    height: 40px;
    width: 40px;
  }
  .bg-icon svg {
    font-size: 25px;
  }
  .bg-save-btn button {
    padding: 6px 15px;
    font-size: 13px;
  }
  .bg-save-btn {
    top: 60px;
    margin-top: 0;
  }
  .user-details-section {
    padding: 0 2.5rem 2rem 2.5rem !important;
  }
}

@media screen and (min-width: 1200px) {
  .outer-profile-box {
    width: calc(100% - 34vw);
  }
  .user-details-section {
    padding: 0 21vw;
  }
  .user-image-container {
    width: 160px;
    height: 160px;
  }

  .background-image-container {
    padding: 4em 0 0 17vw;
  }

  .bg-img-save {
    top: 100px;
  }
}

@media screen and (max-width: 600px) {
  .bg-save-btn {
    flex-direction: column;
  }
  .bg-save-btn button {
    font-size: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .bg-img-save {
    right: -10px;
  }
}
