.img-edit {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 1.303rem;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  color: blue;
  border: 2px solid blue;
  filter: invert(0%) !important;
  transition: color 0.4s;
}

.img-edit:hover {
  opacity: 1;
  background: linear-gradient(40deg, #e107c1, #59afc7);
  filter: invert(0%) !important;
  /* transition: transform 0.5s ease-out; */
  color: white;
}

.feed-main-container {
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 0;
  border-top: 1px solid #a5a4a4;
  align-items: flex-start;
  margin-left: 30px;
}
