.profile-feed-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
}

.app__posts__feed {
  border: 1px solid #dbdbdb;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin-right: 10px;
  gap: 0;
  padding: 0;
  position: relative;
}

.post_container {
  position: relative;
  width: calc(33% - 16px);
  aspect-ratio: 1;
  padding: 8px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.post_sub_container {
  width: 100%;
  height: 100%;
}

.post_image {
  width: 100%;
  height: 100%;
  background-size: cover !important;
}

.caption_without_image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

@media screen and (min-width: 1200px) {
  .profile-feed-main-container {
    margin-left: 17vw;
  }
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
  .profile-feed-main-container {
    margin-left: 9vw;
  }
}

@media screen and (min-width: 600px) {
  .profile-feed-main-container {
    padding-top: 0;
  }
}

@media screen and (max-width: 800px) {
  .profile-feed-main-container {
    margin-left: 5px;
    margin-bottom: 60px;
  }

  .app__posts__feed {
    margin-right: 5px;
  }

  .post_container {
    width: calc(33% - 8px);
    aspect-ratio: 1;
    padding: 4px;
  }

  .caption_without_image {
    font-size: 10px;
  }
}
