.profile-feed-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  justify-content: center;
}

.app__posts__feed {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 20px;
  margin-right: 10px;
  gap: 0;
  padding: 0;
  border: 1px solid #dbdbdb;
}

.post_container {
  position: relative;
  aspect-ratio: 1;
  padding: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: 0.4s ease-in-out;
}

.profile_post_sub_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post_sub_container {
  width: 100%;
  height: 100%;
}

.post_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile_post_hover_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.profile_post_hover_icon {
  transform: scale(1.8);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease-in-out;
  background-color: transparent;
  border: none;
  color: white !important;
  cursor: pointer;
}

.profile_post_hover_icon:hover {
  background: rgba(255, 255, 255, 0.25);
  padding: 10px;
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
  .profile-feed-main-container {
    margin-left: 5px;
  }

  .story-caption {
    font-size: 14px;
  }
}

@media screen and (min-width: 600px) {
  .profile-feed-main-container {
    padding-top: 0;
  }
}

@media screen and (max-width: 600px) {
  .story-img {
    height: 100%;
  }
  .caption_without_image {
    font-size: 12px !important;
  }
}

@media screen and (max-width: 800px) {
  .story-caption {
    font-size: 12px;
  }

  .caption_without_image {
    font-size: 14px;
  }

  .app__posts__feed {
    margin-right: 5px;
  }

  .post_container {
    padding: 4px;
  }
}
