.flex-center {
  display: flex;
  align-items: center;
}

.chat-main-container {
  position: relative;
  min-height: 100vh;
  padding: 15px;
  padding-bottom: 40px;
}

.all-chat-msg-container {
  margin-bottom: 60px;
}

.chat-loader-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-input-container {
  position: fixed;
  width: 80%;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-top: 1px solid #1a1a1a;
  background-color: var(--input-bg);
}

.chat-input {
  flex: 1;
  margin-top: 0;
  font-size: 1em;
  width: 70%;
  font-weight: normal;
  padding: 10px 0;
  color: var(--text-grey);
  background-color: var(--input-bg);
}

.chat-msg-send-btn-container {
  background-color: transparent;
  border: none;
  padding: 10px 15px;
  padding-right: 20px;
}

.chat-msg-send-btn {
  color: var(--color);
  margin-top: 7px;
  transform: scale(1.3);
  cursor: pointer;
}

.chat-msg-container {
  padding-inline: 0;
}

.chat-message {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 18px;
}

.chat-message:hover {
  background: none;
}

.chat-user-img {
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #eee;
  box-shadow: 1px 1px 5px #888585;
  align-self: flex-start;
  transition: 0.2s ease-in-out;
}

.chat-user-img:hover {
  transform: scale(1.1);
}

.name-and-date-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

.time-reaction-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.message-time {
  font-weight: 600;
  font-size: 12px;
  color: var(--profile-color);
}

.date-separator{
  padding: 1.5rem 0;
  list-style-type: none;
  font-size: 15px;
}


.current-user-msg {
  flex-direction: row-reverse;
  margin-left: auto;
  padding-left: 20px;
}

.chat-msg-text {
  position: relative;
  color: var(--text-secondary);
  border-radius: 6px;
  padding: 8px 12px;
  width: fit-content;
  max-width: 70%;
  box-shadow: 1px 1px 5px #59afc7;
}

.chat-msg-text p {
  max-width: 95%;
  padding: 4px 0;
}

.chat-msg-sender-name {
  color: #59afc7;
  cursor: pointer;
}

.chat-msg-sender-name:hover {
  text-decoration: underline;
}

.current-user-msg > img {
  align-self: flex-start;
}

.chat-msg-send-btn:hover {
  color: var(--btn-hover);
}

.hide {
  display: none;
}

.communitychat-emoji-btn {
  cursor: pointer;
  transition: 0.2s ease-in-out;
  padding: 10px 15px;
}

.communitychat-emoji-btn:hover {
  transform: scale(1.1);
}

.rxn-main-container {
  position: absolute;
  padding: 0;
  bottom: -13px;
  left: 12px;
  display: flex;
  gap: 8px;
}

.rxn-container {
  list-style: none;
  position: relative;
  width: fit-content;
  cursor: default;
}

.rxn-count {
  position: absolute;
  bottom: -6px;
  right: 0px;
  font-size: 11px;
  font-weight: 600;
}

.message-options {
  position: relative;
  cursor: pointer;
}

.delete-message-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid;
  background-color: var(--dark-post-bg);
  border-radius: 6px;
  position: absolute;
  bottom: 20px;
  right: 0;
  min-width: 100px;
  padding: 14px 20px;
}

.delete-message-container span {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.delete-message-container .delete-option:hover {
  color: red;
  transition: all 0.2s ease;
}

.delete-message-container .edit-option:hover {
  color: rgb(22 163 74);
  transition: all 0.2s ease;
}

.edit-state {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 4px;
  padding-right: 4px;
}

.edit-state span {
  color: var(--text-light);
  font-size: 12px;
  font-weight: 500;
}

@media screen and (min-width: 1200px) {
  .chat-input-container {
    width: 83vw;
  }
}

@media screen and (max-width: 1200px) {
  .chat-input-container {
    width: 92vw;
  }
  .chat-msg-text {
    padding: 8px 12px;
  }
}

@media screen and (max-width: 800px) {
  .all-chat-msg-container {
    margin-bottom: 120px;
  }
  .chat-input-container {
    width: 100vw;
    bottom: 72px;
  }
  .chat-msg-text {
    max-width: 60%;
  }
}

.closeBtn {
  position: absolute;
  position: fixed;
  cursor: pointer;
  color: var(--color);
  padding: 2px;
  right: 3%;
  transform: scale(2);
}

.closeBtn:hover {
  color: var(--btn-hover);
}

@media screen and (max-width: 600px) {
  .date-separator{
     font-size: 10px;
  }

  .chat-msg-text {
    padding: 6px 9px;
  }

  .chat-msg-text p {
    font-size: 14px;
  }

  .scrollTop {
    margin-left: 83%;
    bottom: 15%;
  }
}
