.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .slide {
    margin-top: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .slide.active {
    opacity: 1;
  }
  
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  .circle {
    font-size: 24px;
    position: absolute;
    top: 50%;
    right: 180px;
    width: 100%;
    color: silver;
  }
  
  .chevron {
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 180px;
    width: 100%;
    color: silver;
  }