.settings-sidebar-container{
    border-right: 1px solid rgb(96, 96, 96);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 30px;
}

.settings-sidebar-sub-container{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 80vh;
    font-weight: 500;
}

.settings-sidebar-item {
    font-size: 20px;
    margin: 0;
    cursor: pointer;
    padding: 20px 40px;
    border-radius: 12px;
    text-decoration: none;
    color: rgb(29, 28, 28);
}
.settings-sidebar-item:hover{
    background-color: rgba(0,0,0,0.1);
}

@media only screen and (max-width: 750px) {
    .settings-sidebar-container{
        padding: 0;
    }

    .settings-sidebar-item {
        font-size: 15px;
        padding: 10px 20px;;
    }
}