.edit-profile-container {
  z-index: 990;
  position: absolute;
  top: 150px;
  left: 50%;
  width: 50%;
  transform: translate(-50%, 0%);
  padding: 30px;
  background: var(--btn-color);
  border-radius: 22px;
}

.edit-profile-sub-container {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  width: 98%;
  margin: auto;
}

.edit-profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: auto;
}

.edit-profile-image {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 160px;
  width: 160px;
  display: flex;
  cursor: pointer;
}

.edit-profile-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.edit-profile-image-icon {
  position: absolute;
  left: 98%;
  transform: translate(-98%);
  color: rgba(8, 17, 123, 0.69);
  background-color: rgb(255, 255, 255, 0.7);
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}

.cancel-editing-icon {
  position: absolute;
  top: -30px;
  right: -20px;
  transform: scale(1.4);
  cursor: pointer;
}

.edit-user-details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

.user-field {
  width: 30%;
}

.edit-profile-label {
  font-weight: 600;
  font-size: 17px;
  color: var(--text-light-black);
  padding: 22px 0 8px;
}

.edit-profile-input {
  margin-top: 0;
  width: 95% !important;
  background-color: transparent;
  border: 0;
  box-shadow: none;
  border-bottom: 1px solid rgba(104, 85, 224, 0.5);
  padding-bottom: 5px;
  border-radius: 0;
}

.name-input,
.username-input,
.country-input {
  width: 85% !important;
}

.edit-profile-img {
  width: 120px;
  aspect-ratio: 1;
  border-radius: 50%;
}

.edit-profile-bio {
  padding: 10px;
  font-size: 16px;
  height: 100px;
  border-bottom: 1px solid rgba(104, 85, 224, 1);
  border-top: 0;
  /* border-radius: 4px; */
}

.edit-profile-save-btn {
  width: 100%;
  color: rgba(8, 17, 123, 0.69);
  font-size: 20px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.edit-profile-save-btn:hover {
  color: rgba(8, 17, 123, 0.9);
}

.edit-profile-save-btn:active {
  background: linear-gradient(blue, blue);
}

.error-border {
  border: 2px solid red;
}

@media only screen and (max-width: 900px) {
  .edit-profile-sub-container {
    gap: 20px;
  }
  .edit-profile-image {
    height: 140px;
    width: 140px;
  }
  .edit-user-details {
    flex-direction: column;
  }
  .edit-profile-label {
    padding: 0;
    padding-top: 18px;
  }
  .name-input,
  .username-input,
  .country-input,
  .user-field {
    width: 98% !important;
  }

  .edit-user-details label {
    padding-bottom: 15px;
  }
  .edit-profile-container {
    width: 60%;
    left: 50%;
    top: 120px;
  }
}
@media only screen and (max-width: 600px) {
  .edit-profile-container {
    width: 75%;
    left: 50%;
  }
  .edit-profile-image {
    height: 120px;
    width: 120px;
  }
}
