.sounds-setting-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 92vh;
  width: 100%;
  padding-top: 40px;
}

.sounds-setting-sub-container {
  border: 1px solid rgb(206, 206, 206);
  background-color: rgb(255, 255, 255);
  max-width: 850px;
  margin-inline: 15px;
  padding: 25px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-bottom: 65px;
  box-shadow: 0 0 0px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

.sound-setting-page-heading {
  font-weight: 500;
}

.sound-page-para {
  font-size: 15px;
  margin-top: 5px;
  color: rgb(50, 49, 49);
}

.sound-setting-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sound-btn-label {
  font-size: 18px;
  color: rgb(87, 86, 86);
  user-select: none;
}

#sound-btn {
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  background-color: rgb(62, 62, 62);
  color: white;
}

.sound-page-note {
  font-size: 13px;
  max-width: 95%;
  font-weight: 300;
}

.closeIcon {
  cursor: pointer;
  font-size: 25px;
  font-weight: 700;
  position: absolute;
  top: 10px;
  right: 10px;
}
