@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

.app__header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  padding-top: 10px;
  padding-bottom: 10px;
  object-fit: contain;
  /* border-bottom: 1px solid rgb(219, 219, 219); */
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--dark-post-bg);
}

.navSpace {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button-style {
  /* background: linear-gradient(40deg, #e107c1, #59afc7); */
  background: linear-gradient(40deg, #0cc, #fff);
  border-radius: 20px;
  margin: 10px;
  margin-right: 10px !important;
}

.button-style:hover {
  background: linear-gradient(-40deg, #fff, #0cc);
}

.nav-menu {
  background-color: #fff;
  color: black;
  padding: 2px;
  width: fit-content;
  position: absolute;
  border-radius: 4px;
  margin-top: 10rem;
  margin-right: 4rem;
  vertical-align: top;
  border: 1px solid black;
}

.nav-menu-item {
  display: flex;
  padding: 0.5rem;
  cursor: pointer;
}

.chatIcon {
  margin-top: 5px;
  transform: scale(1.2);
  margin-top: 11px;
}

#chat-icon {
  display: inline-block;
}

/* search file css */

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 120px;
  /* margin-left: 17vw; */
}

.search-modal {
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  max-height: 700px;
}

.search-input {
  position: absolute;
  height: 100% !important;
  width: 100% !important;
  border-radius: 25px;
  background: #fff;
  border: none;
  font-size: 16px;
  padding-left: 20px;
  margin-top: -2px;
}
.search-Contributor{
  margin-top:   2px !important;
  border-radius: 10px !important;
}

.search-icon {
  position: absolute;
  right: 0px;
  top: 0;
  width: 54px;
  background: linear-gradient(40deg, #5f85db, #daf1f7);
  height: 43px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  border-radius: 0 25px 25px 0;
  margin: 1px;
}

.search-icon:hover {
  cursor: pointer;
  background: linear-gradient(40deg, #daf1f7, #5f85db);
}

.text-white {
  color: var(--color);
}

.searched-user-container {
  width: 95%;
  height: 90%;
  margin: 20px auto;
  border-radius: 5%;
  overflow-y: scroll;
  display: flex;
  padding: 0;
  box-shadow: var(--post-box-shadow);
}

.searched-user-sub-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  width: 100%;
  margin-left: 10px;
}

.searched-user-li {
  display: flex;
  gap: 10px;
  width: 95%;
  padding: 10px;
  align-items: center;
  cursor: pointer;
  border-radius: 22px;
  background-color: var(--profile-container);
  transition: 0.3s ease-in-out;
}

.searched-user-li:hover {
  background-color: var(--profile-container);
  transform: scale(1.03);
}

.searched-user-avatar {
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid grey;
}

.searched-user-name {
  font-size: 16px;
  cursor: default;
  color: var(--text-secondary);
  /* color: white; */
  cursor: pointer;
}

.searched-user-username {
  font-size: 13px;
  cursor: default;
  color: var(--text-secondary);
  /* color: white; */
  cursor: pointer;
}

.search-bar {
  position: relative;
  height: 45px;
  margin: 0px auto;
  background: #fff;
  border: 1px solid #5f85db;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.search-closeicon {
  position: absolute;
  cursor: pointer;
  top: 10px;
  right: 10px;
  color: var(--text-grey);
}

.searchbar {
  color: var(--text-secondary);
  /* color: white; */
}

@media only screen and (max-width: 450px) {
  .searched-user-name {
    font-size: 14px;
  }

  .searched-user-username {
    font-size: 10px;
  }
}
