@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

.app__header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  padding-top: 10px;
  padding-bottom: 10px;
  object-fit: contain;
  display: flex;
  align-items: center;
  background-color: var(--dark-post-bg);
  justify-content: space-between;
}

.navSpace {
  display: flex;
  align-items: center;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-menu {
  background-color: #fff;
  color: black;
  padding: 2px;
  width: fit-content;
  position: absolute;
  border-radius: 4px;
  margin-top: 10rem;
  margin-right: 4rem;
  vertical-align: top;
  border: 1px solid black;
}

.nav-menu-item {
  display: flex;
  padding: 0.5rem;
  cursor: pointer;
}

.chatIcon {
  margin-top: 5px;
  transform: scale(1.2);
  margin-top: 11px;
}

#chat-icon {
  display: inline-block;
  margin-left: 5px;
}

/* search file css */

.searched_user_name {
  font-size: 16px;
  cursor: default;
  color: var(--text-secondary);
  cursor: pointer;
}

.searched_user_username {
  font-size: 13px;
  cursor: default;
  color: var(--text-secondary);
  cursor: pointer;
}

.search_bar_main_container {
  margin-left: auto;
  width: 100%;
  position: relative;
}

.hidden_search_bar_container {
  transition: 0.4s ease-in-out;
  width: 34px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--profile-container);
  margin-right: 13px;
  margin-left: auto;
}

.show_search_bar {
  width: 100%;
  max-width: 600px;
  border: 1px solid var(--btn-color);
  box-shadow: var(--post-box-shadow);
}

.search_bar_input {
  border: none;
  width: 100%;
  border-radius: 40px;
  margin: 0;
  padding-inline: 25px;
  font-size: 20px;
  color: var(--text-secondary);
  background: var(--profile-container);
  box-shadow: none;
}

.searched_user_container {
  position: absolute;
  border-radius: 20px;
  background-color: var(--profile-container);
  width: 100%;
  max-width: 600px;
  right: 10px;
  margin-top: 5px;
  box-shadow: var(--post-box-shadow);
}

.searched_user_sub_container {
  padding: 0;
  width: 100%;
  max-height: 70vh;
  overflow: scroll;
}

.searched_user_avatar {
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid grey;
}

.searched_user_li {
  display: flex;
  gap: 10px;
  width: 100%;
  padding: 10px;
  align-items: center;
  cursor: pointer;
  border-radius: 22px;
  margin-right: 0;
  transition: 0.3s ease-in-out;
  box-sizing: border-box;
}

.search_icon {
  margin-left: auto;
  transform: scale(1.3);
  border-radius: 50%;
  padding: 6px;
  background-color: rgba(0, 0, 0, 0.23);
  background: var(--profile-container);
}

.search_close_icon {
  margin-left: auto;
}

.searchbar {
  color: var(--text-secondary);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.searchbar:hover {
  transform: scale(1);
}

.nav_img_logo {
  display: none;
  width: 80px;
  display: inline-block;
}

@media only screen and (max-width: 900px) {
  .searched_user_container {
    right: 0;
  }
}

@media only screen and (max-width: 600px) {
  .search_bar_input {
    padding-inline: 10px;
    font-size: 15px;
  }

  .searched_user_container {
    width: 84vw;
    right: 50%;
    transform: translateX(50%);
  }

  .search_icon {
    transform: scale(1.1);
  }
  .searched_user_name {
    font-size: 14px;
  }

  .searched_user_username {
    font-size: 10px;
  }
}

@media only screen and (max-width: 450px) {
  .nav_img_logo {
    width: 60px;
  }

  #chat-icon {
    margin-right: 0;
  }
}
