@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

.app__header__img {
  object-fit: contain;
  width: 150px;
}

.app__header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  padding-top: 10px;
  padding-bottom: 10px;
  object-fit: contain;
  border-bottom: 1px solid rgb(219, 219, 219);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--bg-color);
}

.navSpace {
  margin-left: auto;
  display: flex;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button-style {
  /* background: linear-gradient(40deg, #e107c1, #59afc7); */
  background: linear-gradient(40deg, #0cc, #fff);
  border-radius: 20px;
  margin: 10px;
  margin-right: 10px !important;
}

.button-style:hover {
  background: linear-gradient(-40deg, #fff, #0cc);
}

.nav-menu {
  background-color: #fff;
  color: black;
  padding: 2px;
  width: fit-content;
  position: absolute;
  border-radius: 4px;
  margin-top: 10rem;
  margin-right: 4rem;
  vertical-align: top;
  border: 1px solid black;
}

.nav-menu-item {
  display: flex;
  padding: 0.5rem;
  cursor: pointer;
}

.chatIcon {
  margin-top: 5px;
  transform: scale(1.2);
  margin-top: 11px;
}

#chat-icon {
  display: inline-block;
}
