.app__header__img {
  object-fit: contain;
  width: 150px;
}

.app__header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  padding-top: 10px;
  padding-bottom: 10px;
  object-fit: contain;
  border-bottom: 1px solid rgb(219, 219, 219);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--bg-color);
}
