/* navbar styling */

.nav-bar {
  background: #fff;
  position: fixed;
  width: 17vw;
  height: 100vh;
  top: 4.5em;
  left: 0;
  border-right: 1px solid rgb(219, 219, 219);
}

.nav-bar ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0 20px;
}

.nav-bar ul li {
  cursor: pointer;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  transition: all 0.5s ease;
}

.nav-bar ul li:hover {
  background: rgba(0, 0, 0, 0.05);
}

.nav-bar ul li a {
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
}

.nav-bar .icon {
  font-size: 30px;
  transition: all 0.2s ease;
}

.nav-bar ul li:hover .icon {
  transform: scale(1.1);
}

.nav-bar ul li span {
  margin-left: 15px;
}

/* media query */

@media screen and (max-width: 1200px) {
  .nav-bar {
    width: 8vw;
  }

  .nav-bar ul li a {
    justify-content: center;
  }

  .nav-bar ul li a span {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .nav-bar {
    border-top: 1px solid rgb(219, 219, 219);
    border-right: none;
    width: 100vw;
    height: 8vh;
    top: 92vh;
    z-index: 2;
  }

  .nav-bar ul {
    justify-content: space-around;
    flex-direction: row;
    height: 8vh;
  }

  .nav-bar ul li {
    margin: auto;
  }
}
