.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  z-index: 1000;
  max-height: 550px; /* Adjust the height as needed */
  overflow-y: auto;
}

.popup-inner {
  position: relative;
  padding: 44px;
  width: 350px;
  max-width: 640px;
  background-color: white;
}

.popup-inner .close-btn {
  position: absolute;
  top: 16px;
  right: 1px;
}
