/* sidebar styling */

.sidebar {
  background: var(--dark-post-bg);
  position: fixed;
  width: 17vw;
  height: 100vh;
  left: 0;
  z-index: 99;
  /* border-right: 1px solid rgb(219, 219, 219); */
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  overflow-y: scroll;
}

.sidebar-container::-webkit-scrollbar {
  display: none;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0 20px;
}

.active {
  background: rgba(0, 0, 0, 0.05);
}

.sidebar-links li {
  cursor: pointer;
  padding: 10px;
  margin: 0 0 10px;
  border-radius: 10px;
  transition: all 0.5s ease;
}

#sidebar-home-link {
  margin-top: 6.2em;
}

.sidebar-links li:hover {
  /* background: rgba(0, 0, 0, 0.05); */
  background-color: #5f85db;
}

.sidebar-links li a,
.sidebar_align {
  display: flex;
  align-items: center;
  color: var(--color);
  text-decoration: none;
}

.sidebar .icon {
  font-size: 30px;
  transition: all 0.2s ease;
}

.sidebar-links li:hover .icon {
  transform: scale(1.1);
}

.sidebar-links li span {
  margin-left: 15px;
}

.sidebar .profile-picture {
  height: 30px;
  width: 30px;
  border-radius: 100%;
}

footer {
  display: absolute;
  bottom: 0;
  margin-bottom: 2em;
  font-size: 13px;
  background-color: var(--dark-post-bg);
  padding-left: 12px;
}

.sidebar-footer-container {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  padding: 0;
  text-align: start;
  margin-right: 20px;
  margin-top: 20px;
}

.footer-link {
  text-decoration: none;
  color: #898787;
}

.footer-link:hover {
  color: var(--color);
}

.copyright {
  margin-top: 10px;
  color: var(--color);
  text-align: start;
}

.activeTab {
  border: 2px solid #5f85db;
}
.sidebar-footer-container li a {
  text-decoration: none;
  color: #898787;
}

/* media query */
@media screen and (min-width: 1200px) {
  .sidebar-footer-container li {
    padding-bottom: 5px;
  }
}

@media screen and (max-width: 1200px) {
  .sidebar {
    width: 8vw;
  }
  .sidebar-footer-container .footer-icons {
    display: none;
  }
  .sidebar-links {
    padding: 0 5px;
  }
  .sidebar-links li a,
  .sidebar_align {
    justify-content: center;
  }

  .sidebar-links li a span,
  .sidebar_align span {
    display: none;
  }

  footer {
    font-size: 10px;
  }
}
@media screen and (max-width: 800px) {
  .sidebar {
    border-top: 1px solid rgb(219, 219, 219);
    border-right: none;
    width: 100vw;
    height: 60px;
    position: fixed;
    padding-block: 5px;
    bottom: 0;
    z-index: 2;
    margin: 0;
  }

  .sidebar hr {
    display: none;
  }

  #sidebar-home-link {
    margin-top: auto;
  }

  .sidebar-links {
    justify-content: space-around;
    flex-direction: row;
    height: 60px;
  }

  .sidebar-links li {
    margin: auto;
  }

  footer {
    display: none;
  }
}
