.footer{
    background-color: black;
    width: 100vw;
    height: 20vh;
    padding: 1rem;
    text-align: center;
}
ul{
   display: flex;
   justify-content: center;
}
ul li{
    list-style: none;
    padding: 1rem;
}
.copyright p{
    text-align: center;
    color: grey;
}
