.buttonControls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.cameraBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: large;
  margin-bottom: 10px;
}

.cameraBtn button {
  margin: 6px;
  padding: 10px;
  background: linear-gradient(40deg, #5F85DB 30%, #fff 100%);
  border: none;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  cursor: pointer;
  font-size: large;
}

.cameraBtn button:hover {
  background: linear-gradient(-40deg, #fff, #5F85DB);
}

.takePic {
  margin-top: 15px;
  font-size: 25px;
  font-family: monospace;
  color: black;
}

.outputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.outputContainer button {
  margin: 6px;
  padding: 10px;
  background: #5F85DB;
  background: linear-gradient(40deg, #5F85DB 30%, rgb(219, 247, 252) 100%);
  /* border: 1px solid var(--color); */
  border: none;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  cursor: pointer;
  font-size: large;
}
