.footer-page-heading-color {
  color: var(--color);
}

.footer-page-para-color {
  color: var(--text-secondary);
}
.about-header,
.about-header-img,
.about-header-img img {
  width: 100%;
  height: 350px;
}
.footer-page-container {
  position: relative;
  margin-top: 65px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.footer-page-section {
  display: flex;
  flex-direction: column;
  margin: 20px 40px;
  padding: 20px;
  padding-top: 0;
  margin-top: 0;
  gap: 2rem;
}
.footer-page-headings {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.back-icon {
  display: flex;
  align-items: center;
  margin-left: 40px;
  padding-left: 10px;
  height: 120px;
  color: var(--link-color);
  margin-top: 20px;
}
.back-icon span {
  padding-left: 1.8rem;
  font-size: 1.5rem;
}
.back-icon .icon {
  font-size: 5rem;
}

@media only screen and (min-width: 1000px) {
  .footer-page-header,
  .footer-page-header-img,
  .footer-page-header-img img {
    height: 400px !important;
  }
  .btn-content {
    font-size: 28px;
  }
  .back-icon {
    height: 100px !important;
  }
  .footer-page-headings {
    font-size: 2.4rem;
  }
}

@media only screen and (min-width: 1200px) {
  .footer-page-header,
  .footer-page-header-img,
  .footer-page-header-img img {
    height: 500px !important;
  }
}

@media only screen and (max-width: 768px) {
  .footer-page-header,
  .footer-page-header-img,
  .footer-page-header-img img {
    height: 300px !important;
  }
  .back-icon {
    height: 90px;
  }
  .footer-page-headings {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 600px) {
  .footer-page-header,
  .footer-page-header-img,
  .footer-page-header-img img {
    height: 250px !important;
  }
  .footer-page-section {
    margin: 20px 20px;
    gap: 1.5rem;
  }
  .footer-page-headings {
    font-size: 1.5rem;
  }
  .about-us-section p {
    font-size: 13px;
  }
  .back-icon {
    margin-left: 20px;
    height: 60px !important;
    margin-top: 10px;
  }
  .back-icon .icon {
    font-size: 3.5rem;
  }
  .back-icon span {
    padding-left: 1.2rem;
    font-size: 1rem;
  }
  .guidelines-box > li {
    font-size: 14px !important;
  }
}
