.p-0 {
  padding: 0%;
}

.post,
.postColumn {
  max-width: 400px;
  margin-block: 20px;
  border: 2px solid #90b8f8;
  border-radius: 5px;
  word-wrap: break-word;
  transition: all;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.post {
  padding: 5px;
}

.post:hover {
  transform: scale(1.01);
}

.avatar {
  border: 2px solid rgb(221, 221, 90);
  cursor: pointer;
  transition: all 0.2s;
}

.avatar:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 17px 0px;
  border: 2px solid black;
  scale: 1.1;
}

.post__username,
.post__time {
  color: var(--text-primary);
}

.postColumn:hover {
  transform: scale(1.01);
}

.social__icon__last {
  padding: 10px;
  padding-right: 0;
  margin-left: auto !important;
}

.post__background {
  height: 350px;
  background: linear-gradient(
    130deg,
    #dee2ed,
    #dee2ed,
    #9aa9d1,
    #b6c8e3,
    #b6afd0,
    #d3c0d8
  );

  background-size: cover;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  position: relative;
}

.post-nav-item {
  color: var(--color);
}

.post_caption {
  text-align: center;
  padding: 8px;
  font-weight: 400;
  font-size: 15px;
  color: var(--text-black-only);
  white-space: pre-line;
}

.post__btn {
  position: absolute;
  right: 15px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.post__less_btn {
  background: transparent;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.post__text {
  padding-top: 2px;
  padding-bottom: 2px;
  /* height: 1.5rem; */
  font-weight: normal;
  font-size: 15px;
  overflow: auto;
  text-align: left;
  white-space: pre-line;
  overflow: hidden;
  height: 3.5em;
  line-height: 1.2em;
}

.post__commentBox {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 10px;
  margin-inline: auto;
  flex-wrap: wrap;
}

.modal__commentBox {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.commentCard {
  padding: 0.4rem 1rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  display: flex;
  justify-content: space-between;
  background: lightgray;
  border-radius: 10px;
}

.commentCard .comment span {
  color: var(--text-black-only) !important;
}

.comment-box-title-style {
  display: inline-block;
  width: 10px;
  aspect-ratio: 1;
  margin-left: 5px;
  margin-bottom: 0;
  border-radius: 50%;
  background-color: var(--clr);
}

.comment-doer {
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
  text-decoration: none;
  color: black;
}

.comment-doer-name {
  color: rgb(42, 42, 135);
}

.comment-doer-name:hover {
  text-decoration: underline;
}

.comment {
  color: black;
  font-weight: 400;
}

.comment-delete-icon {
  color: red;
  cursor: pointer;
  border-radius: 50%;
  padding: 5px;
  transition: 0.3s ease-in-out;
}

.comment-doer-name {
  cursor: pointer;
}

.comment-delete-icon:hover {
  background-color: rgb(187, 187, 187);
}

.comment-box {
  margin-top: 10px;
  width: 100%;
}

.send-comment-btn {
  font-weight: bold;
  color: #5f85db;
  border-radius: 50%;
  padding: 5px;
}

.comment-input {
  background-color: var(--dark-post-bg) !important;
  color: var(--color);
  border-radius: 22px;
  margin-top: 4px;
  width: 100%;
  box-shadow: var(--post-box-shadow);
}

.emoji-picker-btn {
  color: var(--emoji-btn);
}

.social__icon {
  padding: 10px;
  width: 24px;
  height: 28px;
}

.emoji__icon:hover {
  opacity: 60%;
  cursor: pointer;
  padding-top: auto;
}

.post__input {
  border: none;
  flex: 1;
  padding: 10px;
  padding-bottom: 7px;
  padding-top: 7px;
  font-size: 16px;
  box-shadow: none;
}

.post__button {
  flex: 0;
  border: none;
  margin-right: 2px;
  color: #0a66c2;
  margin-top: 3px;
  cursor: pointer;
  background: transparent;
}

.post__comments {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 15px;
  text-align: left;
  word-break: break-word;
}

.social__icons__wrapper {
  display: flex;
  align-items: center;
}

.profile-picture {
  height: 30px;
  width: 30px;
  border-radius: 100%;
}

.dialog_box_skeleton {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
  margin-bottom: 20px;
}

.dialog_box_text_skeleton {
  width: 80%;
}

.dialog_box_text_skeleton > * {
  width: 100%;
}

.likedby_list_container {
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 3px;
  gap: 8px;
}

.likedby_list_item {
  display: flex;
  gap: 10px;
  padding: 10px;
  border-radius: 8px;
  color: black;
  background: lightgray;
}

.like_user_img {
  width: 50px !important;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid;
  transition: 0.3s ease-in-out;
}

.like_user_img:hover {
  transform: scale(1.1);
}

.like_user_data {
  display: flex;
  align-items: center;
  gap: 8px;
}

.like_user_name {
  cursor: pointer;
  font-weight: 600;
  color: rgb(42, 42, 135);
  text-decoration: none;
}

.like_user_name:hover {
  text-decoration: underline;
}

.like_user_username {
  font-weight: 500;
  color: var(--text-black-only);
}

@media only screen and (max-width: 800px) {
  .post__commentBox input {
    width: 200px;
  }

  .modal__commentBox {
    gap: 0;
  }

  .modal__commentBox input {
    width: 100px;
  }
}

@media only screen and (max-width: 460px) {
  .post {
    max-width: 320px;
    padding: 5px;
    margin-top: 25px;
  }

  .postColumn {
    max-width: 320px;
    padding: 5px;
    margin-top: 25px;
  }

  .like_user_data {
    flex-direction: column;
    gap: 0;
    align-items: flex-start;
  }

  .like_user_name {
    font-size: 16px;
  }

  .like_user_username {
    margin-top: -5px;
  }

  .like_user_bio {
    font-size: 14px;
  }
}

.postCaption {
  color: var(--color);
  padding-inline: 8px;
  height: 80px;
}

.postCaptiontext {
  color: var(--color);
  padding-inline: 8px;
  height: 80px;
  display: flex;
  align-items: flex-end;
}
