.img-outer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  box-shadow: var(--profile-box-shadow);
  cursor: pointer;
  margin-top: 1%;
}

.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img-outer .img-inner {
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  border-radius: 50%;
  overflow: hidden;
  transition: 1s ease-in-out;
}

.img-inner:hover {
  background-color: #ddd;
  transition: 0.5s ease-in-out;
}

.img-inner img {
  border-radius: 50%;
}

.signup {
  color: white;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
  background-color: rgba(104, 85, 224, 1);
}

.signup:hover {
  color: rgb(104, 85, 224);
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
  background-color: rgb(255, 255, 255);
}

.username-available {
  border: 2px solid green;
}

.error-border {
  border: 2px solid red !important;
}

.password-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 100%;
  border: 1px solid rgba(104, 85, 224, 1);
  box-sizing: border-box;
  margin-top: 10px;
  background-color: white;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
  border-radius: 4px;
}

.password-input {
  width: 80%;
  border: none;
  margin: 0;
  box-shadow: none;
}

.show-password {
  height: 100%;
  width: 20px;
  margin: 0 auto;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding-right: 0;
}

.error {
  font-size: 12px;
  color: red;
}

.pass-container-both {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  align-items: last baseline;
}

/* .pass-container-both input {
  width: 70%;
} */

@media screen and (max-width: 720px) {
  .signup-container {
    margin-top: 4em;
  }
  .pass-container-both {
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
  }
  .show-password {
    width: 5em;
  }
}

@media screen and (max-width: 400px) {
  .show-password {
    width: 3em;
  }
}
