.img-outer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  box-shadow: var(--profile-box-shadow);
  cursor: pointer;
}

.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 6em;
}

.img-outer .img-inner {
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  border-radius: 50%;
  overflow: hidden;
  transition: 1s ease-in-out;
}

.img-inner:hover {
  background-color: #ddd;
  transition: 0.5s ease-in-out;
}

.img-inner img {
  border-radius: 50%;
}

.signup {
  color: white;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
  background-color: rgba(104, 85, 224, 1);
}

.signup:hover {
  color: rgb(104, 85, 224);
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
  background-color: rgb(255, 255, 255);
}

.username-available {
  border: 2px solid green;
}

.error-border {
  border: 2px solid red !important;
}

.password-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(104, 85, 224, 1);
  box-sizing: border-box;
  margin-top: 10px;
  background-color: white;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
  border-radius: 4px;
}

.password-input {
  width: 100%;
  border: none;
  margin: 0;
  box-shadow: none;
}

.show-password {
  height: 100%;
  width: 50px;
  margin: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.error {
  font-size: 12px;
  color: red;
}

@media screen and (max-width: 720px) {
  .signup-container {
    margin-top: 4em;
  }
}


.username-container {
  display: none;
  position: absolute;
  top: 5%;
  background: white;
  z-index: 3;
  height: 600px;
  padding: 40px;
  border: 1px solid #cccaca;
  justify-content: center;
  border-radius: 20px;
  align-items: center;
  margin: 20px;
}

.show{
  display: flex;
}

.username-sub-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.username-heading {
  font-size: 35px;
  text-shadow: 1px 1px 2px rgb(113, 113, 243),
    1px 1px 2px rgb(108, 108, 108);
  font-family: cursive;
}

#get-username-input {
  width: 100%;
}

.get-username-btn {
  width: 104%;
  padding-block: 10px;
  margin-left: -3px;
  color: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
}