#dummygram-logo {
  color: transparent;
  font-family: "Dancing Script", cursive;
  font-size: 32px;
  font-weight: 700;
  text-shadow: var(--logo-text-shadow);
  background: linear-gradient(40deg, #f404d0, #5f85db, #f404d0);
  -webkit-background-clip: text;
  background-clip: text;
  margin-left: 20px;
  cursor: pointer;
  width: 200px;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  gap: 5px;
}

.sparkle-icon {
  color: #5f85db;
  background: none;
  text-shadow: var(--logo-text-shadow);
  filter: drop-shadow(1px 1px 2px #59afc7);
}
