.btn:hover {
    box-shadow: inset 0 0 20px rgba(255, 166, 170, .5), 0 0 20px rgba(255, 126, 133, .2);
    outline-color: rgba(255, 166, 170, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388; 
    opacity: 0.6;
  }