@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

/* App styles */
.app {
  align-items: center;
  justify-content: center;
  overflow-x: auto;
}

.app__header__img {
  object-fit: contain;
  width: 150px;
}

.app__header {
  align-items: center;
  background-color: var(--bg-color);
  border-bottom: 1px solid rgb(219, 219, 219);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  object-fit: contain;
  padding-bottom: 10px;
  padding-top: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

input:hover {
  cursor: text;
}

input:focus {
  outline: none;
}

/* Add media query in navbar for responsiveness */
@media only screen and (max-width: 460px) {
  .app__header__img {
    object-fit: contain;
    width: 120px;
  }

  .app__header {
    font-size: 8px;
    padding: 10px;
    width: 100%;
  }
}

/* Post style */
.app__posts {
  padding: 5.5em 20px 20px 17vw;
}

.app_posts_column {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  padding-top: 5.5em;
}

@media only screen and (min-width: 800px) {
  .app__posts {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }
}

.rowConvert {
  color: #ab4bc2;
  display: flex;
  margin-right: 12px;
  transition: all;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.rowConvert:hover {
  color: red;
  cursor: pointer;
  transform: scale(1.04);
}

@media only screen and (max-width: 1200px) {
  .app__posts {
    padding-left: 9vw;
  }
}

@media only screen and (max-width: 900px) {
  .rowConvert {
    display: none;
  }
}

.post__img {
  max-width: 100%;
  object-fit: contain;
  object-position: top;
  width: 100%;
}

.post__img_container {
  overflow-x: hidden;
}

.post__img_container:only-of-type .post__img {
  border-bottom: 1px solid rgba(72, 6, 91, 0.281);
  border-top: 1px solid rgba(215, 208, 208, 0.845);
}

.post__username {
  font-size: 14px;
  font-weight: 600;
}

.post__header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.post__avatar {
  border-radius: 50%;
  height: 30px !important;
  margin-right: 10px;
  object-fit: contain;
  width: 30px !important;
}

.modal__signup__img {
  width: 80%;
}

.modal__signup {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.modal__signup button {
  margin-top: 10px;
}

/* image upload css */
.imageUpload-progress {
  width: 100%;
}

.scrollTop {
  align-self: center;
  animation: fadeIn 0.2s;
  bottom: 20px;
  cursor: pointer;
  display: flex;
  height: 60px;
  justify-content: center;
  left: 50%;
  opacity: 0.9;
  position: fixed;
  transition: opacity 0.4s;
  width: 60px;
  z-index: 1000;
}

.scrollTop:hover {
  opacity: 1;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .scrollTop {
    left: 43%;
  }

  .app__newpost__button {
    left: -6%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .scrollTop {
    left: 45.6%;
  }

  .app__newpost__button {
    left: -4.8%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .scrollTop {
    left: 46.6%;
  }

  .sideToTop {
    left: 19.6%;
  }

  .app__newpost__button {
    left: -4.2%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .scrollTop {
    left: 47.2%;
  }

  .sideToTop {
    left: 19.6%;
  }

  .app__newpost__button {
    left: -2.5%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .scrollTop {
    left: 47.7%;
  }

  .sideToTop {
    left: 19.6%;
  }

  .app__newpost__button {
    left: -1.2%;
  }
}

.darkmode-toggle {
  z-index: 1;
}

.app {
  overflow: hidden;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.5;
  }
}

div#picker {
  left: -7px;
  position: relative;
  top: -353px;
  transform: scale(0.9);
}

/* profile pic upload input */
.file {
  height: 0.1px;
  opacity: 0;
  position: absolute;
  width: 0.1px;
}

::-webkit-scrollbar {
  border-radius: 0.3rem;
  width: 0.3rem;
}

::-webkit-scrollbar-track {
  background-color: black;
  border-radius: 0.8rem;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(40deg, #e107c1, #59afc7);
  border: 2px black solid;
  border-radius: 10px;
}

/* landing animation */

#logo {
  animation: animate 4s ease forwards;
  filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 0px;
  z-index: 1;
}

@keyframes animate {
  to {
    width: 100%;
  }
}

/* Login button  */

.button {
  border: 0;
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
  cursor: pointer;
  font-weight: 600;
  padding: 10px 0;
  transition: 0.4s;
  width: 100%;
}

.button:hover {
  background-color: rgba(104, 85, 224, 1);
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
  color: white;
}

.reg:hover {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
  color: black;
}

.reg span {
  border-bottom: 2px solid rgb(104, 85, 224);
  color: rgb(104, 85, 224);
}

/* Input */
input {
  /* width: 230px; */
  width: 100%;
  border: 0;
  border: 1px solid rgba(104, 85, 224, 1);
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
  cursor: pointer;
  font-weight: 600;
  margin-top: 10px;
  padding: 10px;
  transition: 0.4s;
  width: 230px;
}

/*login screen separation line */
.or {
  align-items: center;
  display: flex;
  width: 230px;
}

.line {
  border-bottom: 2px solid rgb(104, 85, 224);
  width: 100%;
}

/* login with google or facebook button */
.google-fb-login button {
  font-size: 22px;
  height: 50px;
  margin: 5px;
  width: 50px;
}

.have-account {
  color: var(--color);
  font-size: 13px;
  margin: 10px 0;
}

.have-account span {
  border-bottom: 2px solid rgb(104, 85, 224);
  color: rgb(104, 85, 224);
  cursor: pointer;
}

/* end */

.button-style {
  background: linear-gradient(40deg, #e107c1, #59afc7);
  border-radius: 20px;
  margin: 10px;
}

.button-style:hover {
  background: linear-gradient(-40deg, #59afc7, #e107c1);
}
