* {
  margin: 0;
}

/* App styles */
.app {
  background-color: white;
}

.app__header__img {
  width: 100px;
  height: 40px;
}

.app__header {
  object-fit: contain;
  padding: 5px;
  border-bottom: 1px solid lightgrey;
}

/* Post style */
.post {
  max-width: 400px;
  border: 1px solid lightgrey;
  margin-bottom: 20px;
}

.post__img {
  width: 100%;
  object-fit: contain;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

.post__text {
  font-weight: normal;
  padding: 10px;
}

.post__header {
  display: flex;
  align-items: center;
  padding: 10px;
}

.post__avatar {
  margin-right: 10px;
}

/* signup modal */
.modal__signup__img {
  width: 50%;
}

.modal__signup {
  display: flex;
  flex-direction: column;
}

.modal__signup button {
  margin-top: 10px;
}