@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* App styles */
.app {
  /* background-color: var(--bg-color); */
  justify-content: center;
  align-items: center;
  overflow-x: auto;
}

.app__header__img {
  object-fit: contain;
  width: 150px;
}

.app__header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  padding-top: 10px;
  padding-bottom: 10px;
  object-fit: contain;
  border-bottom: 1px solid var(--color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--bg-color);
}

input:hover {
  cursor: text;
}

input:focus {
  outline: none;
}

/* Add media query in navbar for responsiveness */
@media only screen and (max-width: 460px) {
  .app__header__img {
    object-fit: contain;
    width: 120px;
  }
  .app__header {
    width: 100%;
    padding: 10px;
    font-size: "8px";
  }
}

.app__posts {
  padding: 20px;
  padding-top: 5.5em;
}

/* Post style */
.post {
  max-width: 400px;
  margin-top: 20px;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.373);
  border-radius: 5px;
  margin-bottom: 20px;
  word-wrap: break-word;
}

/* Added media query in post for responsiveness */
@media only screen and (max-width: 460px) {
  .post {
    max-width: 320px;
    padding: 5px;
    margin-top: 25px;
  }
}

.post__img {
  object-position: top;
  max-width: 100%;
  width: 100%;
  object-fit: contain;
}

.post__img_container {
  overflow-x: hidden;
}

.post__img_container:only-of-type .post__img {
  border-top: 1px solid rgba(215, 208, 208, 0.845);
  border-bottom: 1px solid rgba(72, 6, 91, 0.281);
}

.post__text {
  font-weight: normal;
  padding: 5px 15px;
  font-size: 15px;
  text-align: left;
}

.post__username {
  font-size: 14px;
  font-weight: 600;
}

.post__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  flex-wrap: wrap;
}

.social__icons__wrapper {
  display: flex;
  align-items: center;
}

.social__icon {
  padding: 10px;
  width: 24px;
  height: 28px;
}

.social__icon:hover{
  opacity: 60%;
  cursor: pointer;
}

.social__icon__last {
  padding: 10px;
  margin-left: auto !important;
}

.post__avatar {
  margin-right: 10px;
  border-radius: 50%;
  width: 30px !important;
  height: 30px !important;
  object-fit: contain;
}

.post__commentBox {
  display: flex;
  margin-top: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.373);
  flex-wrap: wrap;
}

.post__input {
  border: none;
  flex: 1;
  padding: 10px;
  font-size: 16px;
  background-color: rgb(145, 237, 203);
}

.post__button {
  flex: 0;
  border: none;

  color: #0a66c2;
  /* color: #6082a3; */
  cursor: pointer;
  background: transparent;
}

.post__background {
  min-height: 250px;
  /* background: linear-gradient(
    45deg,
    #abdb10,
    #cbdb51,
    #ce2a11,
    #e263ab,
    #30e19d,
    #a1d9c9
  ); */
  background: url(./images/postbg.avif);
  background-size: cover;
  /* color: rgb(145, 230, 227); */
  color: black;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  position: relative;
}

.post__btn {
  position: absolute;
  right: 15px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.post__less_btn {
  background: transparent;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.post_caption {
  text-align: center;
  padding: 8px;
  font-weight: 400;
  font-size: 15px;
  color: black;
}

.post__comments {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 15px;
  text-align: left;
  word-break: break-word;
}

/* signup modal */
.img-outer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  box-shadow: 0 0 20px var(--color-shadow);
  cursor: pointer;
}

.img-outer .img-inner {
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  border-radius: 50%;
  overflow: hidden;
  transition: 1s ease-in-out;
}

.img-inner:hover {
  background-color: #ddd;
  transition: 0.5s ease-in-out;
}

.img-inner img {
  border-radius: 50%;
}

.modal__signup__img {
  width: 80%;
}

.modal__signup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__signup button {
  margin-top: 10px;
}

/* image upload css */
.imageUpload {
  position: sticky;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.imageUpload-progress {
  width: 100%;
}

.scrollTop {
  position: fixed;
  width: 60px;
  bottom: 20px;
  left: 50%;
  align-self: center;
  height: 60px;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.2s;
  transition: opacity 0.4s;
  display: flex;
  opacity: 0.9;
}

.scrollTop:hover {
  opacity: 1;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .scrollTop {
    left: 43%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .scrollTop {
    left: 45.6%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .scrollTop {
    left: 46.6%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .scrollTop {
    left: 47.2%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .scrollTop {
    left: 47.7%;
  }
}

.read__more__less {
  text-decoration: underline;
  cursor: pointer;
  color: rgba(17, 3, 46, 0.4);
}

.read__more__less:hover {
  color: rgb(6, 33, 115);
}

.darkmode-toggle {
  z-index: 1;
}

.app {
  overflow: hidden;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.5;
  }
}

div#picker {
  position: relative;
  top: -353px;
  left: -7px;
  transform: scale(0.9);
}

/* profile pic upload input */
.file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

.file-input label {
  display: block;
  position: relative;
  margin-top: 15px;
  width: 200px;
  height: 40px;
  border-radius: 20px;
  background: linear-gradient(40deg, #e107c1, #59afc7);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease-out;
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(40deg, #e107c1, #59afc7);
  border-radius: 10px;
  border: 2px black solid;
}

/* landing animation */

#logo {
  width: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: animate 4s ease forwards;
  filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);
  z-index: 1;
}

@keyframes animate {
  to {
    width: 100%;
  }
}

/* Login button  */

.button {
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  width: 100%;
  padding: 10px 0;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
  transition: 0.4s;
}

.button:hover {
  color: white;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
  background-color: rgba(104, 85, 224, 1);
}

/* sign in button */
.reg:hover {
  color: black;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
  background-color: rgba(255, 255, 255, 1);
}

.reg span {
  color: rgb(104, 85, 224);
  border-bottom: 2px solid rgb(104, 85, 224);
}

/* login button */
.log {
  color: rgb(104, 85, 224);
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(104, 85, 224, 1);
}

.signup {
  color: white;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
  background-color: rgba(104, 85, 224, 1);
}

.signup:hover {
  color: rgb(104, 85, 224);
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
  background-color: rgb(255, 255, 255);
}

/* Input */
input {
  width: 230px;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  padding: 10px;
  margin-top: 10px;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
  border: 1px solid rgba(104, 85, 224, 1);
  transition: 0.4s;
}

/*login screen sapration line */
.or {
  width: 230px;
  display: flex;
  align-items: center;
}

.line {
  width: 100%;
  border-bottom: 2px solid rgb(104, 85, 224);
}

/* login with google or facebook button */
.google-fb-login button {
  font-size: 22px;
  margin: 5px;
  width: 50px;
  height: 50px;
}

.have-account {
  color: var(--color);
  font-size: 13px;
  margin: 10px 0;
}

.have-account span {
  color: rgb(104, 85, 224);
  border-bottom: 2px solid rgb(104, 85, 224);
  cursor: pointer;
}
