* {
  margin: 0;
}

/* App styles */
.app {
  background-color: white;
  justify-content: center;
  align-items: center;
}

.app__header__img {
  object-fit: contain;
  width: 150px;
}

.app__header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  padding: 10px;
  object-fit: contain;
  border-bottom: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app__posts {
  padding: 20px;
}

/* Post style */
.post {
  max-width: 400px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin-bottom: 20px;
  word-wrap: break-word;
}

.post__img {
  width: 100%;
  object-fit: contain;
}

.post__img_container:only-of-type .post__img {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid rgba(211, 211, 211, 0.281);
}

.post__text {
  font-weight: normal;
  padding: 5px 15px;
  font-size: 15px;
  text-align: left;
}
.post__username {
  font-size: 14px;
  font-weight: 600;
}

.post__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.social__icons__wrapper {
  display: flex;
  align-items: center;
}
.social__icon {
  padding: 10px;
}
.social__icon__last {
  padding: 10px;
  margin-left: auto !important;
}
.post__avatar {
  margin-right: 10px;
  border-radius: 50%;
  width: 30px !important;
  height: 30px !important;
  object-fit: contain;
}

.post__commentBox {
  display: flex;
  margin-top: 10px;
  border-top: 1px solid lightgrey;
}

.post__input {
  border: none;
  flex: 1;
  padding: 10px;
}

.post__button {
  flex: 0;
  border: none;

  color: #0a66c2;
  /* color: #6082a3; */
  cursor: pointer;
  background: transparent;
}

.post__background {
  min-height: 250px;
  background: linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
  color: white;
  justify-content: center;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.post__comments {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 15px;
}

/* signup modal */
.modal__signup__img {
  width: 50%;
}

.modal__signup {
  display: flex;
  flex-direction: column;
}

.modal__signup button {
  margin-top: 10px;
}

/* image upload css */
.imageUpload {
  position: sticky;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  /* border: 1px solid #ccc; */
  background-color: white;
}

.imageUpload-progress {
  width: 100%;
}

.scrollTop {
  position: fixed; 
  width: 100%;
  bottom: 20px;
  align-items: center;
  height: 20px;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
}

.scrollTop:hover{
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}