* {
  margin: 0;
}

/* App styles */
.app {
  background-color: white;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.app__header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  overflow: hidden;
  top: 0;
  z-index: 1;
  background-color: white;
  padding: 10px;
  object-fit: contain;
  border-bottom: 1px solid lightgrey;
}

.app__header__img {
  object-fit: contain;
  width: 150px;
  cursor: pointer;
}

.app__header__search__bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #D9D9D9;
  opacity: 50%;
  padding-inline: 10px;
  padding-block: 4px;
  border-radius: 5px;
  gap: 10px;
}

.app__header__home_post_profile_icons {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 30px;
  /* position: relative; */
}

.app__header_profile_div {
  position: relative;
}

.app__header__profile__menu {
  position: absolute;
  min-width: 120px;
  max-width: 100%;
  right: 0;
  top: 50px;
}



.app__posts {
  padding: 20px;
}

/* Post style */
.post {
  max-width: 400px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin-bottom: 20px;
  word-wrap: break-word;
}

.post__img {
  object-position: top;
  max-width: 100%;
  width: 100%;
  object-fit: contain;
}

.post__img_container {
  overflow-x: hidden;
}

.post__img_container:only-of-type .post__img {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid rgba(211, 211, 211, 0.281);
}

.post__text {
  font-weight: normal;
  padding: 5px 15px;
  font-size: 15px;
  text-align: left;
}

.post__username {
  font-size: 14px;
  font-weight: 600;
}

.post__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.social__icons__wrapper {
  display: flex;
  align-items: center;
}

.social__icon {
  padding: 10px;
  width: 24px;
  height: 28px;
  cursor: pointer;
}

.social__icon__last {
  padding: 10px;
  margin-left: auto !important;
  border:2px solid red;
}

.post__avatar {
  margin-right: 10px;
  border-radius: 50%;
  width: 30px !important;
  height: 30px !important;
  object-fit: contain;
}

.post__commentBox {
  display: flex;
  margin-top: 10px;
  border-top: 1px solid lightgrey;
}

.post__comment {
  display: flex;
  align-items: center;
}

.delete_two_tone_icon {
  cursor: pointer;
  padding-inline-start: 0.2em;
}

.post__input {
  border: none;
  flex: 1;
  padding: 10px;
  font-size: 16px;
}

.post__button {
  flex: 0;
  border: none;

  color: #0a66c2;
  /* color: #6082a3; */
  cursor: pointer;
  background: transparent;
}

.post__background {
  min-height: 250px;
  background: linear-gradient(45deg,
      #405de6,
      #5851db,
      #833ab4,
      #c13584,
      #e1306c,
      #fd1d1d);
  color: white;
  justify-content: center;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.post__comments {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 15px;
}

/* SIGN IN MODAL STYLING  */
#model__signIn__parent {
  width: 20%;
  height: 40%;
  min-width: 360px;
  background-color: white;
}


/* SIGN UP MODAL STYLING  */

#model__signUp__parent {
  width: 20%;
  height: 60%;
  min-width: 360px;
}

/* signup modal */
.modal__signup__img {
  width: 50%;
  margin: auto;
}

.modal__signup {
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal__signup center {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  text-align: center;
  margin: auto;
}


.modal__signup center Input::placeholder {
  font-size: 0.9em;
}

.modal__signup center Input[type="file"] {
  font-size: 0.8em;
  cursor: pointer;
}


.modal__signup center label[for="file"] {
  cursor: pointer;
}


.modal__signup button {
  margin-top: 10px;

}


/* image upload css */
.imageUpload {
  position: sticky;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
}

.imageUpload-progress {
  width: 100%;
}

.scrollTop {
  position: fixed;
  width: 100%;
  bottom: 10px;
  align-items: center;
  height: 20px;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
}

.scrollTop:hover {
  opacity: 1;
}

.read__more__less {
  text-decoration: underline;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.4);
}

.read__more__less:hover {
    color: royalblue;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.5;
  }
}

div#picker {
  position: relative;
  top: -353px;
  left: -7px;
  transform: scale(0.9);
}
