.cameraBtn button {
    margin: 6px;
    padding: 0px;
    background: rgb(223, 95, 218);
    background: linear-gradient(
      40deg,
      rgba(223, 95, 218, 1) 53%,
      rgba(104, 197, 213, 1) 100%
    );
    /* border: 1px solid var(--color); */
    border: none;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    cursor: pointer;
  }

.takePic {
    margin-top: 25px;
    font-size: 25px;
    font-family: monospace;
    color: black;
  }

